Data
gdp_2.csv

# LaTeX Junk
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.synctex(busy)
*.synctex
*.lof
*.lot
*.tdo
*.nav
*.snm

report/document.pdf
presentation/presentation.pdf

# Python Junk
*.pyc
*.pyo
*.pyd
__pycache__/

# Jupyter Notebook Junk
.ipynb_checkpoints/

# Misc Junk
*.DS_Store
*.swp
.idea/